
@{
    ViewBag.Title = "Erro";
}

}<!DOCTYPE html>
<html height 100%;>
<body style="color: #3CBC3C; background-color: #000000">
    <br />
    <br />
    <br />
    <br />

    <center><h1><b>Erro!</b></h1></center>
    <center> <img HEIGHT="350" WIDTH="500" src="~/Content/monkey.jpg" alt="MacacoTreinandoQUEORIGINALEIN"> </center>

</body>
</html>
