
@{
    ViewBag.Title = "LiberacaoEspFalse";
}
<!DOCTYPE html>
<center> <img HEIGHT="350" WIDTH="500" src="~/Content/CancelaVermelha.jpg" alt="Cancela Fechada"> </center>

    <center><h1><b>NENHUMA LIBERAÇÃO ESPECIAL ATIVADA</b></h1></center>



