
@{
    ViewBag.Title = "NPago";
}<!DOCTYPE html>
<html height 100%;>
<body style="color: #3CBC3C; background-color: #000000">
    <br />
    <br />
    <br />
    <br />

    <center><h1><b>@ViewBag.nPago</b></h1></center>
    <p><center><h1><b>Valor a pagar: R$@ViewBag.valor</b></h1></center></p>
</body>
</html>


