
@{
    ViewBag.Title = "SaidaLiberada";
}

<!DOCTYPE html>
<html>

<body>

    <center> <img HEIGHT="350" WIDTH="500" src="~/Content/cancelaVerde.jpg" alt="Cancela Fechada"> </center>
    <center><h1>@ViewBag.especial  @ViewBag.saida  @ViewBag.cortesia</h1></center>

</body>
</html>

