@model IEnumerable<PL.Model.POCO.Estacionamento>
@{
    ViewBag.Title = "nTicketsPagos";
}
@*FAZEEEEEEEEEEEEEEEER*@
<h1>Núemro de Tickets pagos</h1>

@*<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Número de ticket pagos </th>

    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@qntd.</td>

        </tr>
    }
</table>*@


