
@{
    ViewBag.Title = "Fechado";
}
<!DOCTYPE html>
<html height: 100%;>
<body style="color: #3CBC3C; background-color: #000000">
    <br />
    <br />
    <br />
    <br />

   <center><h1><b>Estacionamento fechado!</b></h1></center>
    <center><h1><b>Aberto das 8:00 as 2:00</b></h1></center>

</body>
</html>
