@*<body style="background-color:lightgray;">*@
    <div class="jumbotron">
        <center><h1>CHEQUE O STATUS </h1></center>
        <center><h1>DO SEU TICKET</h1></center>
    </div>
    <body>
        <center><h3><b>INSIRA O CÓDIGO DO TICKET</b> </h3></center>
        <br />
        <br />
        <form action="buscarTicket">

            <center><input type="text" name="codigo"></center><br>
            <center>  <input type="submit" value="Procurar!"></center>
        </form>

    </body>
