@{
    ViewBag.Title = "ESTACIONAMENTO NEON GENESIS";
}


<div class="jumbotron">
    <center><h1>VAGAS DISPONÍVEIS: @ViewBag.qntd</h1></center>
</div>
<br /><br /><br />



<div class="jumbotron">
    <center><h1>API</h1></center>
    
    <center>
        <a class="btn btn-primary" href="/Home/getValorDeVagasPelaAPI" target="_blank" role="button">API Quantidade</a>
    </center>
   <br />
    <center><h4>Instira o código do ticket</h4></center>
    <form action="/Home/buscarTicketAPi">
        <center><input type="text" name="cod"></center>
        <center>  <input type="submit" class="btn btn-primary" value="API Preço ticket!"></center>
    </form>
</div>
