

@{
    ViewBag.Title = "Administrativo";
}

<h1>Administrativo</h1>

<form action="Admin">
    @*<center>  <input type="submit" value="VALOR TOTAL"></center>*@
    <center><button type="submit" class="btn btn-primary btn-lgt">Valor Total</button></center>
</form>
<br />
<br />
<form action="nTicketPag">
    <center><button type="submit" class="btn btn-primary btn-lgt">Número de Tickets pagos</button></center>
</form>
<br />
<br />






