
@{
    ViewBag.Title = "EmitirTicketGuiche";
}

<center><h1>EMITIR TICKET</h1></center>

<form action="EmitirTktGuiche">
    <center>@Html.CheckBox("checkResp") Extravio?</center>     
    <center>  <input type="submit" value="Emitir"></center>
</form>

<br /><br /><br />
<center><h1>LIBERAR SAÍDA DE TODOS TICKETS</h1></center>
<center>
    <form action="EmitirTktGuiche">
        <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <center>  <input type="submit" value="Emitir"></center>
    </form>

</center>

