@model EstacionamentoWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
    <h1>Guichê</h1>
    <form action="Manage/TicketPagoNoGuiche">
        <center>  <input type="submit" value="FINANCEIRO"></center>
    </form>
    <br />
    <br />
    <form action="Manage/EmitirTicketGuiche">
        <center>  <input type="submit" value="EMITIR TICKET E LIBERAÇÃO ESPECIAL"></center>
    </form>    
<br /><br />
<form action="Manage/adm">
    <center>  <input type="submit" value="ADMINISTRATIVO"></center>
</form>

 

