@model EstacionamentoWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
    <h1>Guichê</h1>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Trocar Senha:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Click aqui", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>Administrativo:</dt>
            <dd>
                [
                @Html.ActionLink("Login", "ManageLogins") ]
            </dd>
            <dd>
            </dd>
        </dl>
    </div>

<form action="gemtt">
    <input type="submit" value="Emitir Ticket" />
</form>

<br />
<form action="buscarTicket">
    <input type="submit" value="Calcular preço">

    <input type="text" name="codigo" value="Código do ticket"> R$  <input type="text" name="valor">
</form>

<br /> <br />
<form action="liberarTicket">
    <input type="submit" value="Liberar ticket pago">
</form>


<br />
<form action="liberarTicketSemPagar">
    <input type="submit" value="Liberação especial">
</form>


